.table-container {
    background-color: #ffffff !important;
    border-radius: 10px !important;
    padding: 4px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    margin: 20px 0 !important;
  }
  
  .table-container .p-datatable {
    border-radius: 10px !important;
    overflow: hidden !important;
  }
  
  .table-container .p-datatable .p-datatable-thead > tr > th {
    background-color: #d9d9d971 !important;
    color: #495057 !important;
  }
  
  .table-container .p-datatable .p-datatable-tbody > tr:hover {
    background-color: #e9ecef !important;
  }
  
  .table-container .p-paginator {
    background-color: transparent !important;
    border: none !important;
  }