<!-- component --> 
<section class="text-gray-700 body-font overflow-hidden bg-white border-2 m-3 border-slate-200" >
    <div class="p-8 pb-0 pt-4">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">{{trainerDetail?.trainername}}</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">The Catcher in the Rye</h1>
    </div>

    <div class="container px-5 py-24 mx-auto" >

        <div class="flex mb-4">
            <div class="lg:w-4/5 mx-auto flex flex-wrap">
                
                    <img alt="ecommerce" class="lg:w-1/4  object-cover object-center rounded border border-gray-200"
                    src="https://www.whitmorerarebooks.com/pictures/medium/2465.jpg">

                   
                    <img alt="ecommerce" class="lg:w-1/6 h-2/4 mx-8 object-cover object-center rounded border border-gray-200"
                    src="https://www.whitmorerarebooks.com/pictures/medium/2465.jpg">
                    <img alt="ecommerce" class="lg:w-1/6 h-2/4  object-cover object-center rounded border border-gray-200"
                    src="https://www.whitmorerarebooks.com/pictures/medium/2465.jpg">
              
                <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">

                    <h4>Email : {{trainerDetail?.email}}</h4>
                    <h4>specification : {{trainerDetail?.specification}} </h4>
                    <h4></h4>
                    <h4></h4>

                  
                </div>
                <p class="leading-relaxed"></p>

                <div class="flex justify-between w-6 ">
                   
                    <div> <button
                            class="flex ml-auto text-white bg-red-700 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded">Block</button>
                    </div>
                    <div> <button
                            class="flex ml-auto text-white bg-slate-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded">Delete</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>