<div class="flex justify-between">
  <app-sidebar></app-sidebar>
  <div class="p-3 w-full lg:ml-[240px] lg:mt-1 md:mt-5 ">

    <div class="flex justify-between sm:top-6 p-3 bg-white rounded-lg shadow-lg">

      <div>
        <p class="text-xl font-semibold text-slate-400 ">Profile</p>
      </div>

    </div>

    <!-- Main Content -->
    <main class="container mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
      <!-- Trainer Info Section -->
      <div class="flex flex-col md:flex-row items-center md:items-start">
        <!-- Profile Picture -->
        <div class="w-28 h-28 md:w-48 md:h-48 rounded-full overflow-hidden shadow-md">
          <img src="{{trainerDetail?.image}}" alt="dp" class="w-full h-full object-cover">
        </div>

        <!-- Trainer Details -->
        <div class="mt-6 md:mt-0 md:ml-10 flex-1">
          <h2 class="text-3xl font-semibold text-gray-800">{{trainerDetail?.trainername}}</h2>
          <p class="text-gray-600 mt-2">{{trainerDetail?.specification}} </p>
          <p class="text-gray-600 mt-2">{{trainerDetail?.email}}</p>
          <p class="text-gray-600 mt-2">Ph: {{trainerDetail?.phone}}</p>
        </div>
      </div>

      <!-- Description Section -->
      <div class="mt-10">
        <h3 class="text-2xl font-semibold text-gray-800">Description</h3>
        <p class="text-gray-600 mt-4">{{trainerDetail?.email}}</p>
      </div>

      <!-- Skills Section -->
      <div class="mt-10">
        <h3 class="text-2xl font-semibold text-gray-800">Skills</h3>
        <ul class="mt-4 space-y-2">
          <li class="bg-gray-200 px-4 py-2 rounded-md shadow-sm">Strength Training</li>
          <li class="bg-gray-200 px-4 py-2 rounded-md shadow-sm">Weight Loss</li>
          <li class="bg-gray-200 px-4 py-2 rounded-md shadow-sm">Nutritional Coaching</li>
          <li class="bg-gray-200 px-4 py-2 rounded-md shadow-sm">Cardio Fitness</li>
          <li class="bg-gray-200 px-4 py-2 rounded-md shadow-sm">Flexibility Training</li>
        </ul>
      </div>


      <div class="flex mt-4 ">

        <div > <button
            class="flex ml-auto text-white bg-red-900 border-0 py-2 px-6 focus:outline-none hover:bg-red-700 rounded">Block</button>
        </div>
        <div> 
        </div>


      </div>
    </main>

  </div>
</div>