<div class="flex justify-between">
    <app-sidebar></app-sidebar>
    <div class="p-3 w-full lg:ml-[240px] lg:mt-1 md:mt-5 ">

        <div class="flex justify-between px-6 pt-3">
            <h1 class="text-xl font-semibold text-slate-500 mb-3 text-center">Available Courses</h1>
            <div>


            </div>
            <a [routerLink]="['/trainer/addcourse']"><button class="py-1 px-2 bg-blue-200 rounded-lg"> <i
                        class="pi pi-file-plus text-mg font-medium"></i> Add Course</button></a>

        </div>




        <div class="container mx-auto p-6 px-4">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 justify-items-center">
              <ng-container *ngIf="courses && courses.length > 0; else noCourses">
                <div *ngFor="let course of courses" class="w-full max-w-sm bg-white shadow-md rounded-xl overflow-hidden">
                  <div class="relative h-48 overflow-hidden">
                    <img [src]="course.thumbnail" [alt]="course.courseName" class="w-full h-full object-cover" />
                  </div>
                  <div class="p-4">
                    <h5 class="text-lg font-semibold mb-2 text-blue-gray-900">
                      {{ course.courseName }}
                    </h5>
                    <p class="text-sm mb-1 truncate">{{ course.description }}</p>
                    <p class="text-sm mb-1">Price: ${{ course.Price }}</p>
                  </div>
                  <div class="p-3 pt-0 mt-auto">
                    <button [routerLink]="['/trainer/coursedetailsAdmin', course.id]"
                            class="align-middle select-none bg-blue-500 font-semibold text-center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-1 px-2 rounded-lg shadow-gray-900/10 hover:shadow-gray-900/20 focus:opacity-[0.85] active:opacity-[0.85] active:shadow-none block mx-auto  text-white shadow-none hover:scale-105 hover:shadow-none focus:scale-105 focus:shadow-none active:scale-100"
                            type="button">
                      View Details
                    </button>
                  </div>
                </div>
              </ng-container>
          
              <ng-template #noCourses>
                <div class="col-span-full text-center py-8">
                  <p class="text-gray-500">No Courses Added</p>
                </div>
              </ng-template>
            </div>
          </div>
          
       

    </div>