<div class="flex justify-between">
  <app-sidebar></app-sidebar>
  <div class="p-3 w-full lg:ml-[240px] lg:mt-1 md:mt-5 ">




    <div class="container mx-auto p-4">
      <h1 class="text-2xl font-bold mb-4 text-slate-600">Slot Management</h1>

      <div class="bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-xl font-semibold mb-4 text-slate-500">Add New Slot</h2>


        <form (ngSubmit)="onSubmit()" [formGroup]="slotForm" class="space-y-4">
          <div>
            <label for="date" class="block text-sm font-medium text-gray-700">Date</label>
            <input type="date" id="date" formControlName="date" placeholder="Enter the Date" [min]="minDate"
              class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              required>
            <div [ngClass]="{'validation-message': slotForm!.get('date')?.invalid}"
              *ngIf="slotForm!.get('date')?.invalid && ((slotForm!.get('date')?.dirty || slotForm!.get('date')?.touched))">
              Please select the Date</div>

          </div>

          <div>
            <label for="startTime" class="block text-sm font-medium text-gray-700">Start Time</label>
            <input type="time" id="startTime" formControlName="startTime" placeholder="Enter the time"
              class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              required>
            <div [ngClass]="{'validation-message': slotForm!.get('startTime')?.invalid}"
              *ngIf="slotForm!.get('startTime')?.invalid && ((slotForm!.get('startTime')?.dirty || slotForm!.get('startTime')?.touched))">
              Please enter the time</div>

          </div>

          <div>
            <label for="endTime" class="block text-sm font-medium text-gray-700">End Time</label>
            <input type="time" id="endTime" formControlName="endTime" placeholder="Enter the time"
              class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              required>
            <div [ngClass]="{'validation-message': slotForm!.get('endTime')?.invalid}"
              *ngIf="slotForm!.get('endTime')?.invalid && ((slotForm!.get('endTime')?.dirty || slotForm!.get('endTime')?.touched))">
              Please enter the time</div>

          </div>




          <div class="flex justify-end">
            <button type="submit" (click)="fullValid()"
              class="px-4 py-2 bg-cyan-900 text-white rounded-md shadow-sm hover:bg-cyan-950 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Generate
              Slots</button>
          </div>

        </form>




      </div>

      <div *ngIf="newSlots && newSlots.length > 0" class="p-4 sm:p-6 bg-white rounded-lg shadow-lg">
        <h3 class="text-xl sm:text-2xl font-bold mb-4 text-gray-800">Generated Slots</h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
          <div *ngFor="let slot of newSlots"
            class="bg-blue-100 rounded-lg p-3 sm:p-4 hover:shadow-md transition duration-300">
            <div class="flex flex-col space-y-1">
              <span class="text-blue-800 text-center font-semibold">{{ slot.startTime }}</span>
              <span class="text-gray-500 text-center">to</span>
              <span class="text-blue-800 text-center font-semibold">{{ slot.endTime }}</span>
            </div>
          </div>
        </div>

        <div class="flex justify-end py-4 mt-4">
          <button (click)="addSlotToDb()"
            class="px-4 py-2 bg-cyan-900 text-white rounded-md shadow-sm hover:bg-cyan-950 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
            Add Slots
          </button>
        </div>
      </div>





      <div class="mt-8 bg-white p-6 rounded-lg shadow-md">
        <div class="flex justify-between ">
          <h2 class="text-xl text-slate-700 font-semibold mb-4">Added Slots</h2>
          <i class="pi pi-book text-slate-800 hover:cursor-pointer hover:text-blue-700 text-md " (click)=" showDialog()"
            (click)="viewBookings()"> Bookings</i>
        </div>

        
      <div class="table-container overflow-x-auto shadow-lg sm:rounded-lg">
        <p-table [value]="slots"
                 [paginator]="true"
                 [rows]="5">
          <ng-template pTemplate="header">

              <tr>
                <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Date</th>
                <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Start Time</th>
                <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">End
                  Time</th>
                <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Price</th>
                <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Status</th>
                <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Actions</th>
              </tr>

          </ng-template>
          <ng-template pTemplate="body" let-slot>
            <tr >
              <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-900">{{ slot.date | date: 'yyyy-MM-dd' }}</td>
              <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-900">{{ slot.startTime }}</td>
              <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-900">{{ slot.endTime }}</td>
              <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-900">{{ slot.price }} &#8377;</td>
              <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-900">
                <span *ngIf="slot.status == true"
                  class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                  Booked
                </span>
                <span *ngIf="slot.status == false"
                  class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-white-800">
                  Available
                </span>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium" *ngIf="slot._id">
                <i class="pi pi-trash text-red-900 cursor-pointer transition-all duration-300 ease-in-out hover:text-red-600 hover:scale-110" 
                (click)="deleteSlot(slot._id)">
             </i> 
             <i class="pi pi-pen-to-square text-blue-900 ms-4 cursor-pointer transition-all duration-300 ease-in-out hover:text-blue-600 hover:scale-110" 
                (click)="editSlotVisible(slot._id)">
             </i>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      

      
      </div>







    </div>





  </div>
</div>




<!-- <p-button (click)="showDialog()" label="Show" /> -->
<p-dialog header="Bookings" [modal]="true" [(visible)]="visibleBooking" [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <div class="overflow-x-auto">

    <table class="min-w-full bg-white">
      <thead class="bg-gray-100">
        <tr>
          <th class="py-3 px-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            ClientName
          </th>
          <th class="py-3 px-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Date
          </th>
          <th class="py-3 px-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Time
          </th>
          <th class="py-3 px-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Status
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <tr class="hover:bg-gray-50" *ngFor="let slot of bookedslots">
          <td class="py-4 px-4 whitespace-nowrap">
            <div class="text-sm font-medium text-gray-900">{{slot.username}}</div>
          </td>
          <td class="py-4 px-4 whitespace-nowrap">
            <div class="text-sm text-gray-500">{{slot.date | date: 'yyyy-MM-dd'}}</div>
          </td>
          <td class="py-4 px-4 whitespace-nowrap">
            <div class="text-sm text-gray-900">{{slot.startTime}}</div>
          </td>
          <td class="py-4 px-4 whitespace-nowrap">
            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
              Booked
            </span>
            <!-- <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
                cancelled
              </span> -->
          </td>
        </tr>
        <!-- Add more rows as needed -->
      </tbody>
    </table>

  </div>
</p-dialog>




<p-dialog header="" [(visible)]="visibilitySlot" [modal]="true" [style]="{ width: '25rem' }">
  <ng-template pTemplate="header">


    <span class="font-bold white-space-nowrap text-slate-500">
      Edit Slot
    </span>
  </ng-template>
  <form [formGroup]="slotForm" (ngSubmit)="onSubmitEditSlot()">

    <div class="flex align-items-center gap-3 mb-3">
      <label for="Date" class="font-semibold w-6rem">Date</label>
      <input type="date" formControlName="date" id="Date"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Date" required />
    </div>

    <div class="flex align-items-center gap-3 mb-5">
      <label for="time" class="font-semibold w-6rem">StartTime</label>
      <input type="time" formControlName="startTime" id="startTime"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="time" required />
    </div>

    <div class="flex align-items-center gap-3 mb-5">
      <label for="endTime" class="font-semibold w-6rem">endTime</label>
      <input type="time" formControlName="endTime" id="endTime"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="endTime" required />
    </div>



    <button type="submit"
      class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-2 py-1 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">save</button>


  </form>

</p-dialog>