
<div class="flex justify-between">
    <app-sidebar></app-sidebar>
    <div class="p-3 w-full lg:ml-[240px] lg:mt-1 md:mt-5 ">



        
        <div class="container mx-auto p-4">
            <h1 class="text-2xl font-bold mb-4 text-slate-600">Slot Management</h1>
            
            <div class="bg-white p-6 rounded-lg shadow-md">
              <h2 class="text-xl font-semibold mb-4 text-slate-500">Add New Slot</h2>
              

              <form (ngSubmit)="onSubmit()"  [formGroup]="slotForm" class="space-y-4" >
                <div>
                  <label for="date" class="block text-sm font-medium text-gray-700">Date</label>
                  <input type="date" id="date" formControlName="date" placeholder="Enter the Date"
                         class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" 
                         required>
                         <div [ngClass]="{'validation-message': slotForm!.get('date')?.invalid}" *ngIf="slotForm!.get('date')?.invalid && ((slotForm!.get('date')?.dirty || slotForm!.get('date')?.touched))">Please select the Date</div>

                </div>
                
                <div>
                  <label for="startTime" class="block text-sm font-medium text-gray-700">Start Time</label>
                  <input type="time" id="startTime" formControlName="startTime"placeholder="Enter the time"
                         class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" 
                         required>
                         <div [ngClass]="{'validation-message': slotForm!.get('startTime')?.invalid}" *ngIf="slotForm!.get('startTime')?.invalid && ((slotForm!.get('startTime')?.dirty || slotForm!.get('startTime')?.touched))">Please enter the time</div>

                </div>

                <div>
                  <label for="price" class="block text-sm font-medium text-gray-700">Price</label>
                  <input type="number" id="price" formControlName="price"placeholder="Enter the price"
                         class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" 
                         required>
                         <div [ngClass]="{'validation-message': slotForm!.get('price')?.invalid}" *ngIf="slotForm!.get('price')?.invalid && ((slotForm!.get('price')?.dirty || slotForm!.get('price')?.touched))">Please enter the price</div>

                </div>
                
                <div class="flex justify-end">
                  <button type="submit" (click)="fullvalid()"  class="px-4 py-2 bg-cyan-900 text-white rounded-md shadow-sm hover:bg-cyan-950 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Add Slot</button>
                </div>
              </form>
              
              
            </div>
            
            <div class="mt-8 bg-white p-6 rounded-lg shadow-md">
              <div class="flex justify-between ">
                <h2 class="text-xl text-slate-700 font-semibold mb-4">Added Slots</h2>
                <i class="pi pi-book text-slate-800 hover:cursor-pointer hover:text-blue-700 text-md "> Bookings</i>
              </div>
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Start Time</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Price</th>
                    <!-- <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th> -->
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  <tr *ngFor="let slot of slots">
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ slot.date | date: 'yyyy-MM-dd' }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ slot.startTime  }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ slot.price  }} $</td>
                    <!-- <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ slot }}</td> -->
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                        <i class="pi pi-trash text-red-900 " > </i> 
                      
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
  



    </div>
</div>


