<div class="flex justify-between">
    <app-sidebar></app-sidebar>
    <div class="p-3 w-full lg:ml-[240px] lg:mt-1 md:mt-5 ">


        <div class="flex justify-end pb-2 sm:top-6 ">


            <i class="pi pi-user-plus hover:cursor-pointer font-semibold text-blue-500" routerLink="/admin/requests">
                Requests</i>

        </div>

        <app-reusable-table-admin [data]="trainers" [columns]="columns" [paginator]="true" [rows]="7"
            [rowsPerPageOptions]="[5, 10, 20]"    (actionClick)="onTrainerAction($event)"
            ></app-reusable-table-admin>



    </div>
</div>