
<span class="absolute text-white top-2 left-2 cursor-pointer lg:hidden flex justify-between">
    <button class="rounded-md  " (click)="toggleSidebar()">
        <img class="bg-blue-800 h-6 p-0 " src="assets/icons/options.svg" alt="options">
    </button>
</span>

<div class="sidebar fixed top-0 bottom-0 lg:left-0 p-2 w-[230px]  overflow-y-auto text-center bg-gray-900 shadow h-screen md:translate-x-0  z-50 lg:translate-x-0 transition-all duration-2000 ease-in-out" [ngClass]="{'left-0': isSidebarOpen, 'left-[-300px]': !isSidebarOpen}">
    <div class="text-gray-100 text-xl">
        <div class="flex justify-center p-3">
            <img class="h-6" src="assets\logo\fitlab-high-resolution-logo-transparent.png" alt="">

        </div>

        <div class="p-2.5 mt-1 flex items-center rounded-md lg:hidden justify-center">

            
            <button class="ml-auto text-gray-200 lg:hidden" (click)="toggleSidebar()">
                <img class="text-white h-6 p-0 " src="assets/icons/close.svg" alt="options">
            </button>
        </div>
        <hr class="my-2 text-gray-600">

        <div>
            <!-- <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer bg-gray-700">
                <input class="text-[15px] ml-4 w-full bg-transparent focus:outline-none" placeholder="Search" />
            </div> -->

            <a routerLink="/admin/dashboard" >
                <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600"  routerLinkActive="activelinks" [routerLinkActiveOptions]="{ exact: true }">
                    <span class="text-[15px] ml-4 text-gray-200">Dashboard</span>
                </div>
    
            </a>

          <a routerLink="/admin/trainer" >  
            <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600" routerLinkActive="activelinks">
                <span class="text-[15px] ml-4 text-gray-200">Trainers</span>
            </div>
            </a>
            <a routerLink="/admin/users">  
            <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600"  routerLinkActive="activelinks">
                <span class="text-[15px] ml-4 text-gray-200">Users</span>
            </div>
            </a>  

            <a routerLink="/admin/mealplans" >  
            <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600"  routerLinkActive="activelinks">
                <span class="text-[15px] ml-4 text-gray-200">MealPlans</span>
            </div>
            </a>  

            <a routerLink="/admin/reports" >  
            <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600"  routerLinkActive="activelinks">
                <span class="text-[15px] ml-4 text-gray-200">Reports</span>
            </div>
            </a>

         

            <hr class="my-4 text-gray-600">

          
            <div (click)="confirm1($event)" class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600">
                <span    class="text-[15px] ml-4 text-red-400">Logout</span>
            </div>

        </div>
    </div>
</div>
