
<nav class=" relative px-4 py-3 flex items-center justify-between w-full  border-b-8 border-slate-100">
    <!-- Logo -->
    <div class="flex items-center">
        <img src="assets\logo\fitlab-high-resolution-logo-transparent.png" alt="Logo" class="h-6 w-auto">
        <!-- <span class="ml-2 text-xl font-semibold text-gray-800">Your App</span> -->
    </div>

    <!-- Mobile menu button -->
    <button class="md:hidden" (click)="toggleMobileMenu()" id="mobile-menu-button">
        <svg class="h-6 w-6 text-gray-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
    </button>

    <!-- Desktop Navigation -->
    <div class="hidden md:flex md:items-center  space-x-6">
        <a routerLink="/userhome" routerLinkActive="activelinks" [routerLinkActiveOptions]="{ exact: true }"
            class="text-gray-600 hover:text-gray-800">Home</a>
        <a routerLink="/trainers" routerLinkActive="activelinks" class="text-gray-600 hover:text-gray-800">Trainers</a>
        <a routerLink="/profile" routerLinkActive="activelinks" class="text-gray-600 hover:text-gray-800">Profile</a>
        <a href="#" class="text-gray-600 hover:text-gray-800">Courses</a>
        <!-- <a href="#" class="text-gray-600 hover:text-gray-800">DietPlans</a> -->
        <!-- <a href="#" class="text-gray-600 hover:text-gray-800">Reports</a> -->
            <button class="Btn" (click)="confirm1($event)">

                <div class="sign"><svg viewBox="0 0 512 512">
                        <path
                            d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                        </path>
                    </svg></div>
    
                <div class="text">Logout</div>
            </button>

        <div >
            <img src="" alt="img">
            <div class="flex  justify-center w-10">
                <p class="text-slate-400 font-medium     ">{{userData.name}}</p>

            </div>
        </div>    
       

    </div>

    <!-- Mobile Navigation -->
    <div  class="absolute top-full left-0 right-0 w-full bg-white shadow-md z-50" 
    [ngClass]="{'hidden': !isMobileMenuOpen, 'block': isMobileMenuOpen}" 
    id="mobile-menu">
        <div class="flex flex-col p-4 space-y-2">
            <a routerLink="/userhome" routerLinkActive="activelinks" [routerLinkActiveOptions]="{ exact: true }"
                class="text-gray-600 hover:text-gray-800">Home</a>
            <a routerLink="/trainers" routerLinkActive="activelinks"
                class="text-gray-600 hover:text-gray-800">Trainers</a>
                <a routerLink="/profile" routerLinkActive="activelinks" class="text-gray-600 hover:text-gray-800">Profile</a>
                <a  class="text-gray-600 hover:text-gray-800">Courses</a>
                <!-- <a href="#" class="text-gray-600 hover:text-gray-800">DietPlans</a> -->
                <!-- <a href="#" class="text-gray-600 hover:text-gray-800">Reports</a> -->

            <button class="Btn" (click)="confirm1($event)">

                <div class="sign"><svg viewBox="0 0 512 512">
                        <path
                            d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                        </path>
                    </svg></div>

                <div class="text">Logout</div>
            </button>
        </div>
    </div>
</nav>