<div class="flex justify-between">
    <app-sidebar></app-sidebar>
    <div class="p-6 w-full lg:ml-[240px] lg:mt-1 md:mt-5 ">

        <div class="flex justify-between">
            <p class="text-slate-400 font-semibold ">Subscribed Clients</p>
            <div class="group relative">
                <button routerLink="/trainer/chat">
                    <svg stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" stroke-width="2"
                        viewBox="0 0 24 24" height="44" width="44" xmlns="http://www.w3.org/2000/svg"
                        class="w-8 hover:scale-125 duration-200 hover:stroke-blue-500" fill="none">
                        <path fill="none" d="M0 0h24v24H0z" stroke="none"></path>
                        <path d="M8 9h8"></path>
                        <path d="M8 13h6"></path>
                        <path
                            d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z">
                        </path>
                    </svg>
                </button>
                <span
                    class="absolute -top-14 left-[20%] -translate-x-[40%] z-20 origin-left scale-0 px-3 rounded-lg border border-gray-300 bg-white py-2 text-sm font-bold shadow-md transition-all duration-300 ease-in-out group-hover:scale-100">chat
                    <span> </span></span>
            </div>


        </div>

        <p-dataView #dv [value]="clients">
            <ng-template pTemplate="list" let-products>
                <div class="grid grid-nogutter">
                    <div class="col-12" *ngFor="let user of clients; let first = first" class="col-12">
                        <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3"
                            [ngClass]="{ 'border-top-1 surface-border': !first }">
                            <div class="md:w-10rem relative">
                                <img class="block xl:block mx-auto border-round w-full"
                                    [src]="user.image" alt="{{user.name}}" />
                            </div>
                            <div
                                class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                                <div
                                    class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                                    <div>
                                        <span class="font-medium text-secondary text-sm">{{ user.email }}</span>
                                        <div class="text-lg font-medium text-900 mt-2">{{ user.name }}</div>
                                    </div>
                                    <div class="surface-100 p-1" style="border-radius: 30px">
                                        <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2"
                                            style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
                                            <span class="text-900 font-medium text-sm">{{ user.name }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-column md:align-items-end gap-5">
                                    <!-- <span class="text-xl font-semibold text-900">{{ '$' }}</span> -->
                                    <!-- <div class="flex flex-row-reverse md:flex-row gap-2">
                                        <button
                                            class="px-2 py-1 rounded-md text-white bg-blue-900  hover:bg-blue-600">view</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>

    </div>
</div>