<main class="relative min-h-screen flex flex-col justify-center bg-slate-50 overflow-hidden">
    <div class="w-full max-w-6xl mx-auto px-4 md:px-6 py-24">
        <div class="flex justify-center">
            <div class="max-w-md mx-auto text-center bg-gray-200 px-4 sm:px-8 py-10 rounded-xl shadow">
                <header class="mb-3">
                    <h1 class="text-2xl font-bold mb-1">Otp verification</h1>
                    <p class="text-[15px] text-slate-500">Enter the 4-digit verification code that was sent to your Email</p>
                </header>
                <form id="otp-form"  [formGroup]="otpForm"  (ngSubmit)="onSubmit()">
                    <div class="timer p-4">
                        <p class="text-slate-500" *ngIf="timeLeft > 0">Time left: {{ timeLeft }} seconds</p>
                        <p *ngIf="timeLeft <= 0">OTP expired</p>
                      </div>
                    <div class="flex items-center justify-center gap-3">
    

                        <input
                        #inputone
                        (input)="onInput($event, inputtwo)"
                            type="text" formControlName = "inputone"
                            class="w-14 h-14 text-center  focus:bg-white focus:border-indigo-400 focus:ring-1 focus:ring-indigo-100 bg-slate-100 appearance-none border border-gray-400 hover:border-slate-200"
                            maxlength="1" />
                        <input
                        #inputtwo
                        (input)="onInput($event, inputthree)"
                            type="text" formControlName = "inputtwo"
                            class="w-14 h-14 text-center  focus:bg-white focus:border-indigo-400 focus:ring-1 focus:ring-indigo-100 bg-slate-100 appearance-none border border-gray-400 hover:border-slate-200"
                            maxlength="1" />
                        <input
                        #inputthree
                        (input)="onInput($event, inputfour)"
                            type="text" formControlName = "inputthree"
                            class="w-14 h-14 text-center  focus:bg-white focus:border-indigo-400 focus:ring-1 focus:ring-indigo-100 bg-slate-100 appearance-none border border-gray-400 hover:border-slate-200"
                            maxlength="1"
                             />
                            
                        <input
                        #inputfour
                        (input)="onInput($event)"
                            type="text" formControlName = "inputfour"
                            class="w-14 h-14 text-center  focus:bg-white focus:border-indigo-400 focus:ring-1 focus:ring-indigo-100 bg-slate-100 appearance-none border border-gray-400 hover:border-slate-200"
                            maxlength="1" />
                    </div>
                    <div class="max-w-[260px] mx-auto mt-4">
                        <button type="submit"
                            class="w-full inline-flex justify-center whitespace-nowrap rounded-lg bg-blue-800 px-3.5 py-2.5 text-sm font-medium text-white shadow-sm shadow-indigo-950/10 hover:bg-blue-900 focus:outline-none focus:ring focus:ring-blue-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 transition-colors duration-150">Verify
                            </button>
                    </div>
                </form>
                
                <div class="text-sm text-slate-500 mt-4">Didn't receive code? <button class="rounded-lg bg-slate-400 px-2 py-0 text-sm font-small text-white shadow-sm shadow-blue-950/10  focus:outline-none focus:ring focus:ring-blue-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300" [hidden]="timeLeft > 0"  (click)="resendotp()">Resend</button></div>
            </div>

        </div>
    </div>
</main>